#main{
  
    font-size: 20px;
   font-weight: 600;
   color: white;
}
#main div:hover{
    background-color:rgb(8, 7, 7);
    padding: 5px;
    color: white;
   
}
#navdiv:hover{
    color: rgb(255,206,97)
}

#divho:hover{
    color: rgb(255,206,97)
}
#divho1:hover{
    background-color: rgb(187, 214, 234)
}


/* fotterAvoobe */



  #footertop {
    height: 60%;
    background-color: #83761d;
    color: #ffffff;
    font-family: "Lato" sans-serif;
    font-size: 19px;
    letter-spacing: -1px;
    text-align: center;
  }
  
  #footertop > div > h2 {
    /* border: 1px solid; */
    width: 600px;
    margin: auto;
    padding: 30px;
  }
  
  #ftin {
    /* border: 1px solid red; */    
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
  }
  #ftin > div {
    /* border: 1px solid; */
    width: 23%;
    margin: 0px 50px;
    height: 100%;
  }
  div > #bttn {
    background-color: #ffce61;
    border: 0;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 50px;
  }
  div > #bttn:hover {
    background-color: white;
  }